/* COLORI */

/* grigio chiaro #F4F9FD */
/* arancione #FE7759 */
/* blu testo e footer #32475B */
/* azzurrino #009EB8 */

/* FINE COLORI */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Montserrat', sans-serif;
  height: 2000px;
}

.container
{
  width: 70%;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.row
{
  /* margin: 0 -15px; */
  height: 100%;
  width: 100%;
}

.row::after
{
  content: "";
  display: table;
  clear: both;
}

.col-100
{
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  /* padding: 0 15px; */
}

.col-75
{
  width: 75%;
  height: 100%;
  float: left;
  position: relative;
  /* padding: 0 15px; */
}

.col-50
{
  width: calc(100% / 2);
  height: 100%;
  float: left;
  position: relative;
  /* padding: 0 15px; */
}

.col-30
{
  width: 30%;
  height: 100%;
  float: left;
  position: relative;
  /* padding: 0 15px; */
}

.col-25
{
  width: calc(100% / 4);
  height: 100%;
  float: left;
  position: relative;
  /* padding: 0 15px; */
}

.ml-20
{
  margin-left: 20px;
}

.mt-20
{
  margin-top: 20px;
}

.mt-10
{
  margin-top: 10px;
}

.mt-40
{
  margin-top: 40px;
}

.mb-25
{
  margin-bottom: 25px;
}

.mb-15
{
  margin-bottom: 15px;
}

.margin-left-right
{
  margin-left: 5%;
  margin-right: 5%;
}

.nav-top
{
  background: #F4F9FD;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
  font-size: 15px;
}

.nav-top-content
{
  height: 100%;
}

.nav-top ul
{
  display: inline-block;
  line-height: 70px;
}

.nav-top ul li
{
  list-style: none;
  display: inline-block;
  color: #32475B;
  font-weight: 500;
}

.nav-top ul li a
{
  color: #32475B;
  text-decoration: none;
}

.nav-top ul li:first-child:after
{
  content: "|";
  padding: 0 20px
}

.dropdown::after
{
  content: '\25be';
  padding-left: 4px;
}

.bottoni
{
  display: inline-block;
  float: right;
  line-height: 70px;
}

.bottoni i
{
  color: #009EB8;
  font-size: 15px;
}

.btn
{
  font-size: 15px;
  border-radius: 5px;
}

.btn-bordered
{
  color: #FE7759;
  background: none;
  border: 1px solid #FE7759;
  padding: 10px 10px;
}

.btn-arancione
{
  color: #fff;
  background: #FE7759;
  border: 1px solid #FE7759;
  padding: 10px 10px;
}

.btn-arancione-grande
{
  color: #fff;
  background: #FE7759;
  border: 1px solid #FE7759;
  padding: 20px 35px;
}

.nav-bottom
{
  height: 70px;
  background: green;
}

.logo
{
  display: inline-block;
  height: 25px;
}

.logo img
{
  height: 100%;
  vertical-align: middle;
}

.nav-bottom-content
{
  line-height: 70px;
  vertical-align: middle;
}

.nav-bottom
{
  background: #fff;
  width: 100%;
  height: 70px;
  font-size: 15px;
}

.nav-bottom ul
{
  float: right;
}

.nav-bottom ul li
{
  list-style: none;
  display: inline-block;
  color: #32475B;
  font-weight: 500;
  margin-left: 20px;
  line-height: 70px;
}

.nav-bottom ul li a
{
  color: #32475B;
  text-decoration: none;
}

.nav-bottom ul li a i
{
  padding-left: 15px;
}

.nav-bottom .dropdown::after
{
  padding-left: 15px;
}

.jumbo
{
  height: 600px;
  width: 100%;
  padding-top: 40px;
  background-color: #FFF4EE;
  background-image: url("../img/jumbotron.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.jumbo-text h1
{
  color: #32475B;
  font-size: 45px;
}

.jumbo-text p
{
  color: #32475B;
  font-size: 15px;
  margin-top: 25px;
  line-height: 30px;
}

.jumbo-text p:last-child
{
  font-size: 12px;
}

.vialetto
{
  width: 100%;
  height: 73px;
  background: #AFEBE4;
  border-top: 2.5px solid #32475B;
  border-bottom: 2.5px solid #32475B;
  position: absolute;
  bottom: 0;
}

.section-card
{
  background: #F4F9FD;
  padding: 40px 0;
}

.section-text
{
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 40px;
}

.section-text img
{
  height: 150px;
}

.section-text h2
{
  color: #32475B;
}

.section-text p
{
  line-height: 25px;
  font-size: 13px;
  margin-top: 20px;
}

.card-style
{
  background: #fff;
  box-shadow: 0px 0px 4px rgba(218, 218, 218, 0.8);
  border-radius: 5px;
  /* margin: 0; */
  color: #32475B;
}

.card-padding
{
  padding: 70px 80px;
}

.card-25
{
  text-align: center;
}

.card-25 img
{
  height: 80px;
  margin-bottom: 15px;
}

.card-75
{
  padding: 0 50px;
}

.card-75 p
{
  line-height: 25px;
  font-size: 13px;
}

.card-75 h4
{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.card-75 h4:after {
  display: inline-block;
  content: "";
  height: 1px;
  background: #32475B;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -1px;
  margin-left: 50px;
}

.card-75 ul
{
  list-style: none;
  font-size: 13px;
}

.card-75 ul li
{
  display: inline;
  padding-right: 20px;
}

.card-75 ul li i
{
  color: #FE7759;
  padding-right: 20px;
}

.card-30
{
  text-align: center;
  padding: 30px;
}

.card-30 img
{
  height: 70px;
}

.card-30 h3
{
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-30 p
{
  font-size: 13px;
  line-height: 25px;
}

.card-30 hr
{
  border: 1px solid #32475B;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.card-30 ul
{
  list-style: none;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 35px;
}

.card-30 ul li
{
  font-size: 13px;
}

.card-30 ul li i
{
  color: #FE7759;
  padding-right: 20px;
}

.section-gradient
{
  color: #fff;
  padding: 40px 0;
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  text-align: center;
}

.gradient-text h2
{
  margin-bottom: 20px;
}

.gradient-text p
{
  font-size: 13px;
  line-height: 25px;
}

.riga
{
  border-bottom: 1px solid #fff;
}

.border-right
{
  border-right: 1px solid #fff;
}

.loghi-griglia
{
  display: inline-block;
  width: 24%;
  padding: 15px 30px;
}

.loghi-griglia img
{
  height: 25px;
}

.loghi-griglia h1
{
  margin: 10px 0;
  font-size: 35px;
}

.loghi-griglia h1 span
{
  font-weight: 400;
  font-size: 20px;
}

.loghi-griglia p
{
  font-size: 11px;
}
